# --- PRODUCTION SETTINGS (IP-Based) ---
# Replace with your AWS Public IP!

DATABASE_URL=postgres://postgres:postgres@db:5432/replica_gather

# Backend (Socket.IO)
# The user requested port 0707 (707 in Docker)
SERVER_PORT=707

# Frontend (React)
# The user requested port 2707
CLIENT_PORT=2707
VITE_API_URL=http://213.210.36.137:707
