#game-container {
    overflow: hidden;
}

#game-container canvas {
    display: block;
}

.instructions {
    background-color: var(--card-bg);
    padding: 1rem;
    border-radius: 8px;
    color: var(--text-main);
    font-weight: 500;
    margin-top: 20px;
    border: 1px solid var(--primary-color);
}